.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: theme.palette.primary.main;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  align-items: center;
  justify-items: center;
  height: 100svh;
  overflow-y: scroll;
  padding: 80px;
  font-family: var(--font-geist-sans);

  .btns {

    height: 28px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    margin-top: 10px;

    .cursor {
      width: 30px;
      height: 30px;
      border-radius: 10px;
      padding: 8px;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .table {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    color: '#A6A6A6';

    .theadcellIcon {
      width: 16px;
      height: 16px;
      background-image: url('../../public/round.png');
      background-size: 100%;
      background-repeat: no-repeat;
      cursor: pointer;
      margin-right: 15px;
      border-radius: 8px;
    }

    .theadcellIconHover {
      width: 16px;
      height: 16px;
      background-size: 100%;
      background-repeat: no-repeat;
      cursor: pointer;
      margin-right: 15px;
      border-radius: 8px;
      background-image: url('../../public/roundHover.png');
    }

    .theadcellIconSelect {
      background-image: url('../../public/roundSelect.png');
    }

    .inputRef {
      width: 100%;
      height: 46px;
      outline: none;
      border: none;
      background-color: transparent;
      color: white;
      font-size: 16px;
    }


    .thead {

      color: rgba(117, 117, 117, 1);
      font-size: 14px;
      vertical-align: middle;

      .theadcell {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;  
      }
    }

    .grey {
      color: rgba(117, 117, 117, 1);
    }

    .addBottomBtn {
      height: 46px;
      width: 100%;
      cursor: pointer;

      span {
        padding-left: 50px;
      }

    }

    .tbody {
      height: 760px;
      overflow-y: scroll;
    }

    .tbody::-webkit-scrollbar {
      width: 8px;
      /* 滚动条宽度 */
    }


    .tbody::-webkit-scrollbar-thumb {
      background: #888;
      /* 滚动条滑块颜色 */
    }

    .tbody::-webkit-scrollbar-thumb:hover {
      background: #555;
      /* 鼠标悬停时滑块颜色 */
    }
  }

}